.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0;
    background: #24292F;
    z-index: 4;
    height: 4rem;
}

.none {
    display: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    flex-grow: 1;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    gap: .4rem;
    color: #b0b0b0 !important;
}

.nav-text {
    font-size: 15px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    transition: all 0.1s ease;
    font-size: .7rem;
    color: #fff !important;
}

.material-icons {
    display: inline;
    font-size: 20px;
    transition: color .1s;
    color: #fff !important;
}

    .nav-item.active > .nav-text {
        color: #fff !important;
        display: inline-block;
    }

    .nav-item.active > i {
        color: #fff !important;
    }

i {
    font-size: 1.5rem;
}
