<header>
    <div class="center-ctn">
        @if (HasBackButton)
        {
            <BackButton />
        }
        else
        {
            <Logo />
        }


        <span>@Title</span>

    </div>

    <span></span>

    <span></span>
</header>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public bool HasBackButton { get; set; } = false;
}